<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='base.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <span style="color: rgb(254, 254, 254);"><li>{{ message }}</li></span>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="main">
            <div class="content">
                <div class="">
                    <h2 class="login-header">Lingkungan Pengembangan<br/>Sistem Pakar Diagnosa Penyakit Kucing Pada Bot Telegram</h2>
                </div>
                <div class="menu">
                    <div class="">
                        <a href="{{ url_for('index') }}" class="btn menuitem">DASHBOARD</a>
                        {% if current_user.type == 'pakar' %}
                            <a href="{{ url_for('pakar_gejala') }}" class="btn menuitem">DATA GEJALA</a>
                            <a href="{{ url_for('pakar_penyakit') }}" class="btn menuitem">DATA PENYAKIT</a>
                            <a href="{{ url_for('diagnosa') }}" class="btn menuitem">TES KONSULTASI</a>
                        {% endif %}
                        {% if current_user.type == 'admin' %}
                            <a href="{{ url_for('register') }}" class="btn menuitem">DATA PENGGUNA</a>
                        {% endif %}
                        <a href="{{ url_for('my_profil') }}" class="btn btn-green menuitem">PROFIL</a>
                        <a href="{{ url_for('logout') }}" class="btn btn-red menuitem">LOGOUT</a>
                    </div>
                </div>
                <div class="isi">
                    {% block content0 %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
    <footer>
        <div style="text-align: center">
            Build © 2022. A'inur Kholiz Aprianto.
        </div>
    </footer>
</html>