{% extends "base.html" %}

{% block content0 %}
<div class="tambah_data" style="overflow-x:auto;">
    <h3>Tambah Data Penyakit</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm">
            <tr>
                <td>{{ form.kode.label }}</td>
                <td>
                    {{ form.kode(size=32, readonly=True, value=kode) }}
                    {% for error in form.kode.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.penyakit.label }}</td>
                <td>
                    {{ form.penyakit() }}
                    {% for error in form.penyakit.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.gejala.label }}</td>
                <td>
                    {{ form.gejala(class="no_list") }}
                    {% for error in form.gejala.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.deskripsi.label }}</td>
                <td>
                    {{ form.deskripsi() }}
                    {% for error in form.deskripsi.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.penanganan.label }}</td>
                <td>
                    {{ form.penanganan() }}
                    {% for error in form.penanganan.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.image.label }}</td>
                <td>
                    {{ form.image(id="imgUp",accept="image/png, image/jpeg") }}
                    {% for error in form.image.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    <br/>
                    <br/>
                    <img id="blah" src="#" alt="Preview" style="width:40%; max-height: 50vh;"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">{{ form.submit(class="btn btn-base") }}</td>
            </tr>
        </table>
    </form>
    <script>
        imgUp.onchange = evt => {
            const [file] = imgUp.files
            if (file) {
                blah.src = URL.createObjectURL(file)
            }
        }
    </script>
</div>
    <div class="isi_data" style="overflow-x:auto;">
        <h3>Data Penyakit</h3>
        <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm">
            <thead>
                <tr>
                    <th>Kode Penyakit</th>
                    <th>Nama Penyakit</th>
                    <th>Deskripsi Penyakit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in penyakit %}
                    <tr>
                        <td>{{ data.kode }}</td>
                        <td>{{ data.penyakit }}</td>
                        <td><textarea class="in" readonly="readonly">{{ data.deskripsi }}</textarea></td>
                        <td>
                            <a href="{{ url_for('pakar_penyakit_view', id_penyakit = data.id, editable=False) }}" class="btn btn-small btn-base">View</a>
                            <a href="{{ url_for('pakar_penyakit_delete', id_penyakit = data.id) }}" class="btn btn-small btn-red">Hapus</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}